<div class="tab-list" >
    @for (item of optionBoxes; track $index) {
        <div class="tab" [class.active-tab]="item.index === currentPosition">
            <div class="tab-header">
                <div class="tab-index">{{item.index}}</div>
            </div>
            <button class="tab-button" (click)="selectTabButton(item.index)">{{item.value}}</button>
        </div>
    }
    
</div>
<button class="rest-btn" (click)="resetOptionsBoxes()">reset</button>
@if (showOptionsCard) {
    <app-options-component-signals></app-options-component-signals>
}